.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 42px;
      border: 1.3px solid #ff894c;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      color: #ff894c;

      &:hover {
        background-color: #ff894c;
        transition: 0.3s ease-in-out;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #ff894c;
        transition: 0.3s ease-in-out;
        color: #fff;
      }
    }
  }
}
