.root {
  padding-top: 75px;
  padding-bottom: 50px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  span {
    font-size: 58px;
  }
}

.description {
  font-family: 'Nunito';
  font-size: 20px;
}
